.header {
    background-color: black;
    padding: 20px 0;
    color: chartreuse;

}
.header__logo img {
    height: 30px;
    width: 68px;
    min-width: 1px;
    width: auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}




.header__menu--list {
    display: flex;
}

@media screen and (max-width: 600px) {
    .header__wrapper {
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
    }
    .header__logo {
        margin-bottom: 20px;
    }
}