.main-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.main-menu__item {
    margin-right: 48px;
}

.main-menu__item:last-child {
    margin-right: 0;
}

.main-menu__link {
text-decoration: none;
color: #ffffff;
font-weight: 600;
}

@media screen and (max-width: 600px) {
    .main-menu {
        flex-direction: column;
    }
    .main-menu__item {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .main-menu__item:last-child {
        margin-bottom: 0;
    }
}