@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url("/src/fonts/Raleway-Light.woff2") format("woff2");
}
@font-face {
    font-family: "Raleway";
    font-weight: 500;
    src: url("/src/fonts/Raleway-Regular.woff") format("woff");
}